<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">TodoList</a>
        <form class="form-inline" th:action="@{/task}" th:object="${task}" method="post">
            <input class="form-control mr-sm-2" type="text" th:field="*{title}" placeholder="add task" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">タスク追加</button>
        </form>
    </nav>

    <ul class="list-group" th:each="task : ${tasks}">
        <li class="list-group-item" th:text="${task.title}"></li>
    </ul>
</body>
</html>

