<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="UTF-8"/>
</head>
<body>
<p>todo list</p>

<form action="#" th:action="@{/todo}" th:object="${todo}" method="post">
	<p>Title: <input type="text" th:field="*{title}"/></p>
	<p>Detail: <input type="text" th:field="*{details}"/></p>
	<input type="submit" value="送信"/>
</form>
<ul>
	<li th:each="todo : ${todos}" th:text="${todo.title}"></li>
</ul>
</body>
</html>